{
  "openapi": "3.0.3",
  "info": {
    "title": "IT Top Journal API",
    "version": "2026-04-21",
    "description": "Auto-generated documentation from daily Journal API collection."
  },
  "servers": [
    {
      "url": "https://msapi.top-academy.ru/api/v2",
      "description": "Official API server (requires valid Bearer token)"
    },
    {
      "url": "https://ittop-mock.blazer19092008.workers.dev/api/v2",
      "description": "Mock server (anonymized data, updated daily)"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT access token obtained from POST /auth/login response field `access_token`. Pass as: Authorization: Bearer <token>"
      }
    }
  },
  "paths": {
    "/auth/login": {
      "post": {
        "summary": "POST /auth/login",
        "description": "Auto-generated operation for `/auth/login`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Content-Type: application/json must be set explicitly.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "example": {
                "application_key": "6a56a5df2667e65aab73ce76d1dd737f7d1faef9c52e8b8c55ac75f565d8e8a6",
                "id_city": null,
                "username": "<login>",
                "password": "<password>"
              }
            }
          }
        }
      }
    },
    "/settings/user-info": {
      "get": {
        "summary": "GET /settings/user-info",
        "description": "Auto-generated operation for `/settings/user-info`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "groups": [
                    {
                      "group_status": 28263,
                      "is_primary": true,
                      "id": 92382,
                      "name": "OEJMS"
                    }
                  ],
                  "manual_link": null,
                  "student_id": 92474,
                  "current_group_id": 98473,
                  "full_name": "FKGLQFuNo",
                  "achieves_count": 48090,
                  "stream_id": 28615,
                  "stream_name": "AmGcJc",
                  "group_name": "khigNYOj",
                  "level": 11159,
                  "photo": "http://www.sanchez.com/",
                  "gaming_points": [
                    {
                      "new_gaming_point_types__id": 96776,
                      "points": 33925
                    },
                    {
                      "new_gaming_point_types__id": 31669,
                      "points": 96002
                    }
                  ],
                  "spent_gaming_points": [],
                  "visibility": {
                    "is_design": false,
                    "is_video_courses": false,
                    "is_vacancy": false,
                    "is_signal": true,
                    "is_promo": false,
                    "is_test": false,
                    "is_email_verified": true,
                    "is_quizzes_expired": false,
                    "is_debtor": false,
                    "is_phone_verified": true,
                    "is_only_profile": false,
                    "is_referral_program": false,
                    "is_dz_group_issue": true,
                    "is_birthday": false,
                    "is_school": false,
                    "is_news_popup": false,
                    "is_school_branch": false,
                    "is_college_branch": true,
                    "is_higher_education_branch": false,
                    "is_russian_branch": true,
                    "is_academy_branch": false
                  },
                  "current_group_status": 22836,
                  "birthday": "2026-02-24T06:28:54.733822",
                  "age": 12563,
                  "last_date_visit": "2026-03-25T03:01:06.586155",
                  "registration_date": "2026-03-28T12:09:35.707676",
                  "gender": 95324,
                  "study_form_short_name": "xpnXC"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/profile/operations/settings": {
      "get": {
        "summary": "GET /profile/operations/settings",
        "description": "Auto-generated operation for `/profile/operations/settings`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "id": 61775,
                  "ful_name": "HSubWzoQBDfBX",
                  "address": "gdTLYJjXtMxO",
                  "date_birth": "2026-03-25T17:24:35.667399",
                  "study": "IJRGNKxUzaMWF",
                  "email": "wklein@example.net",
                  "last_approving_status": 91441,
                  "form_type": 48860,
                  "photo_path": "http://www.thomas.org/",
                  "has_not_approved_data": false,
                  "has_not_approved_photo": false,
                  "is_email_verified": true,
                  "is_phone_verified": true,
                  "phones": [
                    {
                      "phone_type": 89210,
                      "phone_number": "ZHrXlmwOKaND"
                    },
                    {
                      "phone_type": 75615,
                      "phone_number": "zrXsGTtG"
                    }
                  ],
                  "links": [
                    {
                      "id": 87200,
                      "name": "rfRcnKHnB",
                      "reg": "OeCKtXpeP",
                      "required_type": 14869,
                      "value": null,
                      "valid": true,
                      "is_required": false,
                      "show_link": true
                    },
                    {
                      "id": 34839,
                      "name": "QHGHcCyEGLcy",
                      "reg": "CakKPqH",
                      "required_type": 95566,
                      "value": null,
                      "valid": true,
                      "is_required": false,
                      "show_link": true
                    },
                    {
                      "id": 44704,
                      "name": "OkYUzDhI",
                      "reg": "",
                      "required_type": 80142,
                      "value": null,
                      "valid": true,
                      "is_required": false,
                      "show_link": true
                    }
                  ],
                  "relatives": [],
                  "fill_percentage": 30566,
                  "decline_comment": null,
                  "azure": {
                    "login": null,
                    "has_azure": false,
                    "has_office": false
                  },
                  "azure_login": null
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/profile/statistic/student-achievements": {
      "get": {
        "summary": "GET /profile/statistic/student-achievements",
        "description": "Auto-generated operation for `/profile/statistic/student-achievements`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "id": 26896,
                    "translate_key": "aTNkvoC",
                    "is_active": true,
                    "achieve_points": [
                      {
                        "id": 83782,
                        "points_count": 58747
                      },
                      {
                        "id": 46288,
                        "points_count": 5390
                      }
                    ]
                  },
                  {
                    "id": 53990,
                    "translate_key": "mekxYCBWTXqaTI",
                    "is_active": true,
                    "achieve_points": [
                      {
                        "id": 56912,
                        "points_count": 57851
                      },
                      {
                        "id": 15740,
                        "points_count": 7164
                      }
                    ]
                  },
                  {
                    "id": 25689,
                    "translate_key": "QwdJaPFafIW",
                    "is_active": true,
                    "achieve_points": [
                      {
                        "id": 35077,
                        "points_count": 31401
                      },
                      {
                        "id": 29677,
                        "points_count": 86485
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/dashboard/chart/average-progress": {
      "get": {
        "summary": "GET /dashboard/chart/average-progress",
        "description": "Auto-generated operation for `/dashboard/chart/average-progress`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "date": "2026-01-21T09:54:22.489227",
                    "points": 16163,
                    "previous_points": null,
                    "has_rasp": null
                  },
                  {
                    "date": "2026-01-04T10:55:23.421304",
                    "points": 86903,
                    "previous_points": 60797,
                    "has_rasp": null
                  },
                  {
                    "date": "2026-02-20T09:02:59.079842",
                    "points": 38864,
                    "previous_points": 32537,
                    "has_rasp": null
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/dashboard/chart/attendance": {
      "get": {
        "summary": "GET /dashboard/chart/attendance",
        "description": "Auto-generated operation for `/dashboard/chart/attendance`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "date": "2026-03-17T22:20:38.661652",
                    "points": 85330,
                    "previous_points": null,
                    "has_rasp": true
                  },
                  {
                    "date": "2026-01-31T09:04:59.952121",
                    "points": 69040,
                    "previous_points": 1147,
                    "has_rasp": true
                  },
                  {
                    "date": "2026-03-07T20:16:17.102087",
                    "points": 98012,
                    "previous_points": 89545,
                    "has_rasp": true
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/dashboard/chart/progress": {
      "get": {
        "summary": "GET /dashboard/chart/progress",
        "description": "Auto-generated operation for `/dashboard/chart/progress`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "chart_type": 28404,
                    "chart_models": []
                  },
                  {
                    "chart_type": 70526,
                    "chart_models": [
                      {
                        "date": "2026-03-19T20:59:49.932024",
                        "points": 26788,
                        "previous_points": null,
                        "has_rasp": false
                      },
                      {
                        "date": "2026-04-10T09:06:25.697341",
                        "points": 78179,
                        "previous_points": 72891,
                        "has_rasp": false
                      },
                      {
                        "date": "2026-02-16T04:09:16.652203",
                        "points": 36519,
                        "previous_points": 61331,
                        "has_rasp": false
                      }
                    ]
                  },
                  {
                    "chart_type": 3831,
                    "chart_models": [
                      {
                        "date": "2026-04-09T20:21:53.679431",
                        "points": 25277,
                        "previous_points": null,
                        "has_rasp": false
                      },
                      {
                        "date": "2026-03-01T16:51:42.940411",
                        "points": 53976,
                        "previous_points": 57857,
                        "has_rasp": false
                      },
                      {
                        "date": "2026-03-14T10:43:29.721263",
                        "points": 93875,
                        "previous_points": 15304,
                        "has_rasp": false
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/dashboard/progress/activity": {
      "get": {
        "summary": "GET /dashboard/progress/activity",
        "description": "Auto-generated operation for `/dashboard/progress/activity`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "date": "2026-01-04T22:31:52.306636",
                    "action": 77786,
                    "current_point": 51052,
                    "point_types_id": 6430,
                    "point_types_name": "PBihlth",
                    "achievements_id": 90077,
                    "achievements_name": "sUTcC",
                    "achievements_type": 5773,
                    "badge": 49579,
                    "old_competition": false
                  },
                  {
                    "date": "2026-04-01T16:58:07.824782",
                    "action": 85430,
                    "current_point": 80390,
                    "point_types_id": 33229,
                    "point_types_name": "IROjRwX",
                    "achievements_id": 90638,
                    "achievements_name": "gfNXc",
                    "achievements_type": 18117,
                    "badge": 23669,
                    "old_competition": false
                  },
                  {
                    "date": "2026-03-24T21:16:25.419203",
                    "action": 52941,
                    "current_point": 71652,
                    "point_types_id": 77765,
                    "point_types_name": "tyNlV",
                    "achievements_id": 68047,
                    "achievements_name": "LwVtwRXtuk",
                    "achievements_type": 85176,
                    "badge": 58970,
                    "old_competition": false
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/dashboard/progress/leader-group": {
      "get": {
        "summary": "GET /dashboard/progress/leader-group",
        "description": "Auto-generated operation for `/dashboard/progress/leader-group`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "amount": 2183,
                    "id": 38293,
                    "full_name": "BDVwOJuyb",
                    "photo_path": "http://mcconnell.info/",
                    "position": 97211
                  },
                  {
                    "amount": 79882,
                    "id": 61620,
                    "full_name": "KdXwdMlG",
                    "photo_path": "http://jones-castro.net/",
                    "position": 39073
                  },
                  {
                    "amount": 42541,
                    "id": 96537,
                    "full_name": "zLyOiZLaqDnAp",
                    "photo_path": "http://www.james.com/",
                    "position": 78660
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/dashboard/progress/leader-stream": {
      "get": {
        "summary": "GET /dashboard/progress/leader-stream",
        "description": "Auto-generated operation for `/dashboard/progress/leader-stream`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "id": 86115,
                    "full_name": "dKRYBH",
                    "photo_path": "http://www.blake.com/",
                    "position": 76054,
                    "amount": 26673
                  },
                  {
                    "id": 40672,
                    "full_name": "pZEFFgXeWTGJ",
                    "photo_path": "http://www.reid.org/",
                    "position": 9143,
                    "amount": 43624
                  },
                  {
                    "id": 81400,
                    "full_name": "XwUphsSUrqWXB",
                    "photo_path": "https://taylor-lucas.net/",
                    "position": 9105,
                    "amount": 7274
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/dashboard/progress/leader-group-points": {
      "get": {
        "summary": "GET /dashboard/progress/leader-group-points",
        "description": "Auto-generated operation for `/dashboard/progress/leader-group-points`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "totalCount": 47044,
                  "studentPosition": 25562,
                  "weekDiff": 4283,
                  "monthDiff": 61196
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/dashboard/progress/leader-stream-points": {
      "get": {
        "summary": "GET /dashboard/progress/leader-stream-points",
        "description": "Auto-generated operation for `/dashboard/progress/leader-stream-points`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "totalCount": null,
                  "studentPosition": 69941,
                  "weekDiff": 42301,
                  "monthDiff": 54005
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/dashboard/info/future-exams": {
      "get": {
        "summary": "GET /dashboard/info/future-exams",
        "description": "Auto-generated operation for `/dashboard/info/future-exams`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "spec": "TwytQDBv",
                    "date": "2026-04-03T09:01:02.679611"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/schedule/operations/get-by-date-range": {
      "get": {
        "summary": "GET /schedule/operations/get-by-date-range",
        "description": "Auto-generated operation for `/schedule/operations/get-by-date-range`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "date": "2026-02-24T11:07:00.802709",
                    "lesson": 16749,
                    "started_at": "pKDVZaNjrd",
                    "finished_at": "cRNJbyVhGodcVE",
                    "teacher_name": "BvmDBnDtlr",
                    "subject_name": "JviiSHoN",
                    "room_name": "JelODTLu"
                  },
                  {
                    "date": "2026-04-08T03:00:32.933794",
                    "lesson": 56746,
                    "started_at": "UtZGbHNIfWovD",
                    "finished_at": "lWtEMqN",
                    "teacher_name": "aXHIm",
                    "subject_name": "aRWJyjfmk",
                    "room_name": "DgeqUUAqX"
                  },
                  {
                    "date": "2026-02-23T04:48:40.321342",
                    "lesson": 75149,
                    "started_at": "ZDEcvojucuCFOtQ",
                    "finished_at": "itzMEPRefEayJkM",
                    "teacher_name": "FxAaOs",
                    "subject_name": "WyVTvdLWHr",
                    "room_name": "ZYfnTVfi"
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          },
          {
            "name": "date_start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2026-04-21"
          },
          {
            "name": "date_end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2026-04-21"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/schedule/operations/get-month": {
      "get": {
        "summary": "GET /schedule/operations/get-month",
        "description": "Auto-generated operation for `/schedule/operations/get-month`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "date": "2026-01-15T02:27:14.063319",
                    "lesson": 20171,
                    "started_at": "tKVLQldEuWBfhI",
                    "finished_at": "gspBNO",
                    "teacher_name": "XXctvwGkV",
                    "subject_name": "LXzlqUSctlNT",
                    "room_name": "TyAzsj"
                  },
                  {
                    "date": "2026-03-08T02:37:17.826760",
                    "lesson": 71740,
                    "started_at": "OqWqyPugepbq",
                    "finished_at": "mtBaQusVkFhdUiK",
                    "teacher_name": "dUXYIi",
                    "subject_name": "jSDXAujtt",
                    "room_name": "umPLkTsVwkihK"
                  },
                  {
                    "date": "2026-04-18T06:32:20.185315",
                    "lesson": 50002,
                    "started_at": "VmMVeLdI",
                    "finished_at": "EHZITFUmoFVS",
                    "teacher_name": "HoLKFuOAdfotl",
                    "subject_name": "PERyYHdc",
                    "room_name": "ryobxSW"
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          },
          {
            "name": "date_filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2026-04-21"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/schedule/operations/get-by-date": {
      "get": {
        "summary": "GET /schedule/operations/get-by-date",
        "description": "Auto-generated operation for `/schedule/operations/get-by-date`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "date": "2026-03-18T10:43:40.403116",
                    "lesson": 98771,
                    "started_at": "WZteoYh",
                    "finished_at": "ZjnrJ",
                    "teacher_name": "jyasF",
                    "subject_name": "oDPwCcgHjru",
                    "room_name": "IHHNTtoSY"
                  },
                  {
                    "date": "2026-02-04T05:36:31.024162",
                    "lesson": 48676,
                    "started_at": "wBmqJ",
                    "finished_at": "EuMarWxtYcb",
                    "teacher_name": "kfRTRbw",
                    "subject_name": "PeYiOIJtnVwBUqH",
                    "room_name": "odbhK"
                  },
                  {
                    "date": "2026-02-02T13:48:01.963942",
                    "lesson": 15330,
                    "started_at": "htyZPWra",
                    "finished_at": "eLLMSQdnLUhTj",
                    "teacher_name": "HsMqlsAHS",
                    "subject_name": "Cxbrmrpk",
                    "room_name": "luBkjGkNMzQD"
                  }
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          },
          {
            "name": "date_filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2026-04-21"
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/progress/operations/student-visits": {
      "get": {
        "summary": "GET /progress/operations/student-visits",
        "description": "Auto-generated operation for `/progress/operations/student-visits`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "date_visit": "2026-01-19T23:38:33.506010",
                    "lesson_number": 69586,
                    "status_was": 3201,
                    "spec_id": 8244,
                    "teacher_name": "KwGXxHDGBtxmqPp",
                    "spec_name": "zJYiGuxVdu",
                    "lesson_theme": "HYBCLFX",
                    "control_work_mark": null,
                    "home_work_mark": null,
                    "lab_work_mark": null,
                    "class_work_mark": null,
                    "practical_work_mark": null,
                    "final_work_mark": null
                  },
                  {
                    "date_visit": "2026-01-13T16:50:32.487207",
                    "lesson_number": 14474,
                    "status_was": 28029,
                    "spec_id": 70668,
                    "teacher_name": "JGKfLNlmh",
                    "spec_name": "sKGgXEQooUulJH",
                    "lesson_theme": "rbLmckNtk",
                    "control_work_mark": null,
                    "home_work_mark": null,
                    "lab_work_mark": null,
                    "class_work_mark": null,
                    "practical_work_mark": null,
                    "final_work_mark": null
                  },
                  {
                    "date_visit": "2026-04-20T23:13:08.316792",
                    "lesson_number": 47981,
                    "status_was": 70128,
                    "spec_id": 35209,
                    "teacher_name": "GKyal",
                    "spec_name": "NBYcdeJE",
                    "lesson_theme": "GFKDzElRdWPP",
                    "control_work_mark": null,
                    "home_work_mark": null,
                    "lab_work_mark": null,
                    "class_work_mark": null,
                    "practical_work_mark": null,
                    "final_work_mark": null
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/progress/operations/student-exams": {
      "get": {
        "summary": "GET /progress/operations/student-exams",
        "description": "Auto-generated operation for `/progress/operations/student-exams`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "teacher": null,
                    "mark": 52577,
                    "mark_type": 98797,
                    "date": null,
                    "ex_file_name": null,
                    "id_file": 88189,
                    "exam_id": 2656,
                    "file_path": null,
                    "comment_teach": null,
                    "need_access": 67784,
                    "need_access_stud": null,
                    "comment_delete_file": null,
                    "spec": "yFnRxcmKzikBOGK"
                  },
                  {
                    "teacher": "dkkJAqRCVrVGx",
                    "mark": 31584,
                    "mark_type": 11409,
                    "date": "2026-04-19T14:05:25.519882",
                    "ex_file_name": null,
                    "id_file": 38748,
                    "exam_id": 20644,
                    "file_path": "https://rice.net/",
                    "comment_teach": "",
                    "need_access": 67485,
                    "need_access_stud": null,
                    "comment_delete_file": null,
                    "spec": "TGYmBjgB"
                  },
                  {
                    "teacher": "wVABr",
                    "mark": 44726,
                    "mark_type": 72095,
                    "date": "2026-02-16T04:41:04.055726",
                    "ex_file_name": null,
                    "id_file": 5859,
                    "exam_id": 11747,
                    "file_path": "http://www.nichols.com/",
                    "comment_teach": "",
                    "need_access": 10410,
                    "need_access_stud": null,
                    "comment_delete_file": null,
                    "spec": "lpdBijVHqH"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/library/operations/list": {
      "get": {
        "summary": "GET /library/operations/list",
        "description": "Auto-generated operation for `/library/operations/list`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": []
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          },
          {
            "name": "material_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 2
          },
          {
            "name": "filter_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 0
          },
          {
            "name": "recommended_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 0
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/count/homework": {
      "get": {
        "summary": "GET /count/homework",
        "description": "Auto-generated operation for `/count/homework`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "counter_type": 97171,
                    "counter": 1464
                  },
                  {
                    "counter_type": 7555,
                    "counter": 32411
                  },
                  {
                    "counter_type": 45844,
                    "counter": 49278
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/reviews/index/list": {
      "get": {
        "summary": "GET /reviews/index/list",
        "description": "Auto-generated operation for `/reviews/index/list`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "date": "2026-02-28T01:01:27.534027",
                    "message": "ZJZdCzw",
                    "spec": "anvfFZiwjJp",
                    "full_spec": "ZOMcqbKiuT",
                    "teacher": "HTvmusKidY"
                  },
                  {
                    "date": "2026-03-08T08:47:33.804976",
                    "message": "LWXURSc",
                    "spec": "mUaxNNCRVBTBsFa",
                    "full_spec": "eIORo",
                    "teacher": "trjRmFRqU"
                  },
                  {
                    "date": "2026-01-10T21:19:28.486048",
                    "message": "UroWjcoGRYLbIIX",
                    "spec": "OOMgPB",
                    "full_spec": "lsBPtylXP",
                    "teacher": "ODeBWjrDkL"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/reviews/index/instruction": {
      "get": {
        "summary": "GET /reviews/index/instruction",
        "description": "Auto-generated operation for `/reviews/index/instruction`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": null
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/feedback/students/evaluate-lesson-list": {
      "get": {
        "summary": "GET /feedback/students/evaluate-lesson-list",
        "description": "Auto-generated operation for `/feedback/students/evaluate-lesson-list`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "key": "rYSGyQ",
                    "date_visit": "2026-02-09T06:16:44.816911",
                    "fio_teach": "wWHAZAJwrC",
                    "spec_name": "wvjyUP",
                    "teach_photo": null
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/feedback/social-review/get-review-list": {
      "get": {
        "summary": "GET /feedback/social-review/get-review-list",
        "description": "Auto-generated operation for `/feedback/social-review/get-review-list`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "status": null,
                    "social_id": 89469,
                    "link_id": null,
                    "link": null,
                    "screen_shot": null,
                    "review_id": null,
                    "comment": null,
                    "teach_name": null,
                    "updated_at": null,
                    "is_visibility": false
                  },
                  {
                    "status": null,
                    "social_id": 95405,
                    "link_id": 67722,
                    "link": "http://www.case.com/",
                    "screen_shot": "https://www.rocha.org/",
                    "review_id": 49071,
                    "comment": "",
                    "teach_name": "VlwmPBAkDQ",
                    "updated_at": "2026-02-08T21:05:55.693798",
                    "is_visibility": true
                  },
                  {
                    "status": null,
                    "social_id": 3845,
                    "link_id": 8084,
                    "link": "http://cohen-mason.net/",
                    "screen_shot": null,
                    "review_id": null,
                    "comment": null,
                    "teach_name": null,
                    "updated_at": null,
                    "is_visibility": true
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/signal/operations/signals-list": {
      "get": {
        "summary": "GET /signal/operations/signals-list",
        "description": "Auto-generated operation for `/signal/operations/signals-list`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "id": 20418,
                    "date_desired": "2026-04-16T20:22:13.450716",
                    "date_start": "2026-01-23T14:45:52.341125",
                    "priority": 34034,
                    "status": 83857,
                    "message": "CYtWtZdKINQV",
                    "initiator_name": "LhPcdKOWrXYBz",
                    "problem_id": 55182,
                    "problem_name": "qgzWhYptu",
                    "problem_type": 85269,
                    "days_diff": 47024,
                    "theme": "ZuhyfbeltCZ"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/signal/operations/problems-list": {
      "get": {
        "summary": "GET /signal/operations/problems-list",
        "description": "Auto-generated operation for `/signal/operations/problems-list`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "id": 46937,
                    "title": "CMIYtjBkifyL"
                  },
                  {
                    "id": 41849,
                    "title": "zgCIYvDhHkP"
                  },
                  {
                    "id": 95128,
                    "title": "pmPTb"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/news/operations/latest-news": {
      "get": {
        "summary": "GET /news/operations/latest-news",
        "description": "Auto-generated operation for `/news/operations/latest-news`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "id_bbs": 43996,
                    "theme": "xkhxEDpznWl",
                    "time": "2026-03-26T00:10:14.946999",
                    "viewed": true
                  },
                  {
                    "id_bbs": 37565,
                    "theme": "KPUjBcoyJXT",
                    "time": "2026-04-01T04:44:55.591050",
                    "viewed": true
                  },
                  {
                    "id_bbs": 55038,
                    "theme": "UFGTbnCkmaIfHvm",
                    "time": "2026-01-15T20:05:18.960609",
                    "viewed": false
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/public/languages": {
      "get": {
        "summary": "GET /public/languages",
        "description": "Auto-generated operation for `/public/languages`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "example": [
                  {
                    "name_mystat": "KfFRG",
                    "short_name": "mcRlYo"
                  },
                  {
                    "name_mystat": "WpIxRvopVWKQJg",
                    "short_name": "uVngFhQXwwGTiS"
                  },
                  {
                    "name_mystat": "cbmJGrC",
                    "short_name": "PvoXFeBbqxlLu"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru",
            "description": "Required by the API CORS policy."
          },
          {
            "name": "Referer",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "https://journal.top-academy.ru/",
            "description": "Required by the API. Must end with trailing slash."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "description": "Recommended to match a real browser UA to avoid blocks."
          }
        ]
      }
    },
    "/public/translations": {
      "get": {
        "summary": "GET /public/translations",
        "description": "Auto-generated operation for `/public/translations`.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                },
                "example": {
                  "10_VISITS_WITHOUT_DELAY": "zpjvl",
                  "10_VISITS_WITHOUT_GAP": "txAqVAn",
                  "1C Code": "XhQPOtiVJpdG",
                  "1C_code": "GhaUtKKSNvNrUz",
                  "1_MONTH_PAY": "jnkXsaYVSnFxcw",
                  "1С_code": "SHhLogkNEgG",
                  "20_VISITS_WITHOUT_DELAY": "OwqCQiF",
                  "20_VISITS_WITHOUT_GAP": "TCsSpvlvfWD",
                  "2_MONTH_PAY": "BpGtyRVf",
                  "3_MONTH_PAY": "SCUWcrBIzzAn",
                  "5_VISITS_WITHOUT_DELAY": "HVCwunlYOf",
                  "5_VISITS_WITHOUT_GAP": "UwEbXZYP",
                  "ABAKAN": "jehIyPGyKliIX",
                  "ABAKAN_KOLLEDZH": "bAxhILzxHaTbsQ",
                  "ABAKAN_VUZ": "xwoPRZLU",
                  "ABINSK": "yicdFNfmckR",
                  "ABINSK_KOLLEDZH": "MmpmHlxMKjkBE",
                  "academic_plan": "EyIdXifeLUWGyiG",
                  "academy_of_social": "yIhLrXJoDHqgnN",
                  "academy_website": "StmKjRNMxXD",
                  "access": "luPdugT",
                  "Access to the page is temporarily closed": "WEpHJhOToptxt",
                  "access_before_start": "gCfVHatkUZIQvxS",
                  "account": "emukEmpEeL",
                  "account_amount": "zTRVxS",
                  "account_valid_for_3_business_days": "xvOveCMqqmVk",
                  "actions": "twjfZthJdevPEB",
                  "active_lessons": "qtHoDtHJE",
                  "activity": "pcOpUJH",
                  "ADANA": "lAWMSNdvcr",
                  "Add": "HwPgwZJRaJ",
                  "Add promotion": "ddGHERa",
                  "Add restaurant": "MsMtu",
                  "Add student": "EbeToZiTvB",
                  "Add transaction": "mdkDsxusVqJ",
                  "address": "pqbmeXxatJRe",
                  "address_relative": "XyIoKvtoEqpsy",
                  "add_attach": "SmxVknLqQXtut",
                  "add_comment": "LCByCQCZHXNz",
                  "add_product": "enGoNzKUSqtHP",
                  "add_telegram_code_success": "yVjoSLUIJDOPCe",
                  "ADLER": "UeDXuyooNn",
                  "ADLER_KOLLEDZH": "bLoqiah",
                  "ADLER_SHKOLA": "dGPMQzP",
                  "ADMIN": "jkjCJcR",
                  "administration": "dyzACnvLjECO",
                  "ADMIN_STORE": "ymChXVbkVdZAmMV",
                  "admission": "cNeIofFD",
                  "ADMISSIONS_COMMITTEE": "MWFImW",
                  "ADMISSIONS_COMMITTEE__ITEM_1": "yfkNWC",
                  "ADMISSIONS_COMMITTEE__ITEM_2": "zgWVGsNwNvMh",
                  "afternoon snack": "PvXRPFHBi",
                  "ALEXANDRIA": "TvpVXKlvaEHis",
                  "All grades in the subject": "VJCkBNmwf",
                  "allCount": "DJrSaNLOApf",
                  "all_badges": "rITDTXtXNdKwBOn",
                  "all_badges_info": "JuuBcYiX",
                  "all_pricess": "YeUhjETyNIEKlo",
                  "all_pricess_info": "cbTfhqZAOQzj",
                  "all_requests": "nUiSfTYW",
                  "all_tasks": "YkWWIKUeFJ",
                  "all_tests": "xAGNXkmlXTA",
                  "all_things": "xMnwpKfIht",
                  "all_this_time": "qpxjFmx",
                  "ALMATY": "GHOzCtTPP",
                  "ALMETYEVSK": "suFbBOUkoxd",
                  "ALMETYEVSK_KOLLEDZH": "RawSbRFPlCr",
                  "Already issued": "TZzsBpNG",
                  "already_achieved_today": "PMPHbu",
                  "amount": "VluHFdOswN",
                  "amount_testing": "IpzpdyPj",
                  "ANAPA": "ABBAS",
                  "ANAPA_KOLLEDZH": "QkwfohmkBZ",
                  "ANAPA_VUZ": "kowNWJ",
                  "ANGARSK": "wMdRrVPxwfKA",
                  "ANGARSK_KOLLEDZH": "qfcEwCwbNYcQEmN",
                  "ANKARA": "VBhCb",
                  "answered_questions": "bNxqwkvQhyfi",
                  "answer_text": "syLWW",
                  "ANTALYA": "VRXFN",
                  "APPROVED_REF": "uvJKumqeDgOTr",
                  "approve_delete_homework": "IHWNCDQZq",
                  "approve_delete_product": "uNeTn",
                  "approve_delete_telegram": "XibpResSSGPtT",
                  "approving": "BSzLxMMAe",
                  "app_files_ios": "BHXutYjeYwxYbF",
                  "April": "KVIypRmVsTrd",
                  "APSHERONSK": "XHIWA",
                  "archive": "ZXICff",
                  "ARKHANGELSK": "LFdWWoaOeWZVgt",
                  "ARKHANGELSK_KOLLEDZH": "BGtfdmadaHWYTU",
                  "ARMAVIR": "praIRQv",
                  "ARMAVIR_KOLLEDZH": "WpgIZkLdZx",
                  "ARZAMAS": "hCVqOVNqqwrvZt",
                  "ASSESMENT": "AwYTXrauJC",
                  "Assingments": "fFglmYCPGZPG",
                  "ASTANA": "ocktnaBAmptpFL",
                  "ASTRAKHAN": "fhvSNb",
                  "ASTRAKHAN_KOLLEDZH": "MdSloMSB",
                  "ASTRAKHAN_SHKOLA": "fmiBuT",
                  "ASTRAKHAN_VUZ": "BCSowZB",
                  "at": "LcipJ",
                  "ATLANTIDA": "qZwtdjw",
                  "attempts_all": "zSOSBTWUmxEAmu",
                  "attempts_hand": "sZBHPDeSzYaSKD",
                  "attendance": "cAZRWe",
                  "attendance_all_period": "KFVSdLloRuh",
                  "attendance_month_period": "lSseyAHL",
                  "attendance_week_period": "iONkSoRewPeFnIg",
                  "aug": "XolgPyEjJ",
                  "August": "ViyIkruMfVKt",
                  "AUTH_MOBILE_APPLICATION": "naFiymTg",
                  "AUTH_POPUP_MESSAGE": "tunuHwLkYF",
                  "AUTO_MARK_EXPIRED_HOMEWORK": "pqJsvmK",
                  "available_funds": "dhiwcShwtyzQh",
                  "available_products": "NWIaeHEmO",
                  "avatar_rules": "Qxdafjj",
                  "average": "phQIIpYSA",
                  "Average attendance": "oTnFjamk",
                  "average_attendance": "SwBgREMMjKUQMbQ",
                  "average_point_for_month": "FGrJkWFByDn",
                  "awaiting_individual_lessons": "BOtpE",
                  "AZURE_LINK": "AZtrCmQezp",
                  "B2B": "BWShaGYID",
                  "back": "BZtMtviMirpB",
                  "back_login": "zXzMEkrwPYK",
                  "back_to_tests": "bSxpoWogd",
                  "bad": "oyhgFXNpXBNFQ",
                  "BAKU": "wTsCoAsRnGJfq",
                  "BAKU_MODAL_CONTACTS": "bBadKokhJUcsRG",
                  "BAKU_MODAL_TEXT": "zsvejLAWopyffMG",
                  "BAKU_MODAL_TITLE": "zSuyxSOZ",
                  "BALAKOVO": "eHOSNBAKNxa",
                  "BALAKOVO_KOLLEDZH": "klWzDnGinFklTG",
                  "balance": "cOmrxtUA",
                  "Balance replenishment": "PBgNnhIIwudQt",
                  "BALASHIKHA": "UYMMkJZnrO",
                  "BALASHIKHA_KOLLEDZH": "vmRyJQ",
                  "BALASHIKHA_SHKOLA": "FVzEIIaxQRWAlm",
                  "BALASHIKKA": "mAfZNfpxSsJSd",
                  "BARANOVICHI": "kwxMZzCgC",
                  "BARNAUL": "cPdXkQZEFvI",
                  "BARNAUL_KOLLEDZH": "CsXIannobKqZA",
                  "BARNAUL_SHKOLA": "iyOzm",
                  "BARNAUL_VUZ": "ogYly",
                  "Base Branches": "yJtLF",
                  "Base Course": "SBzgOVNZd",
                  "BASEL": "ysPtHdHRrKKO",
                  "Basic IT": "spaNDkSRyWUbGn",
                  "BATAYSK": "ABTWjQiGTKjjCRK",
                  "BATAYSK_KOLLEDZH": "PoPfZIikBzqbwFz",
                  "BELGOROD": "rBdyeKDDezzi",
                  "BELGOROD_KOLLEDZH": "mDenmyKy",
                  "BERDSK": "pOgrKVovKzoLiA",
                  "BERDYANSK": "HlnTqtU",
                  "BEREZNIKI": "CJrsiJfCC",
                  "BEREZNIKI_KOLLEDZH": "uFBHEnEKg",
                  "BERN": "QcxrpjojHLuZ",
                  "BIK": "wvOGdwcgUd",
                  "BILA_TSERKVA": "rAXzpQBmSXaJu",
                  "BIND_TELEGRAM": "AlsGH",
                  "birthday": "ZrhlTVqCOHDMSTE",
                  "BIYSK": "VhgzDKEjaOdan",
                  "BIYSK_KOLLEDZH": "fMZnyoYte",
                  "BIYSK_SHKOLA": "HWZVaVGRiOl",
                  "BIYSK_VUZ": "ayUgbc",
                  "BLAGOVESHCHENSK": "SzrUqxoR",
                  "BLAGOVESHCHENSK_KOLLEDZH": "bvrpdJSEO",
                  "BLAGOVESHCHENSK_SHKOLA": "DTzuWMHnHWH",
                  "BOBRUISK": "srqyOfQfdqKw",
                  "BONUS": "TqevqLOLBPT",
                  "bookkeeping": "IiiGe",
                  "book_recommended_but_not_available": "FPlMmxLmKjdgZ",
                  "boring_tag": "gvVophc",
                  "BOTH_MARKS_REQUIRED": "nRbuhRVfNHhDM",
                  "BRANCH_NAME_189": "qysfye",
                  "BRANCH_NAME_321": "EKLnV",
                  "BRANCH_NAME_812": "pbAqGexhKDtp",
                  "branch_not_found": "zrwIufoFsF",
                  "BRATISLAVA": "lsvHvJ",
                  "BRATSK": "kliTkTf",
                  "BRATSK_KOLLEDZH": "lIPZnzysuqH",
                  "BREST": "bSTZzoOtBvb",
                  "BRNO": "GGDumJq",
                  "BRYANSK": "ohBun",
                  "BRYANSK_KOLLEDZH": "HojZMU",
                  "BUCHAREST": "JCduGkePW",
                  "BUENOS_AYRES": "gaDJHSPlbDCOGz",
                  "BURSA": "KNKid",
                  "BUSINESS_PROJECT_ACADEMY": "yLxLwCxD",
                  "BUSINESS_PROJECT_COLLEGE": "jKEnuCPLZyOji",
                  "BUSINESS_PROJECT_HIGHER_EDUCATION": "foXysmSmJ",
                  "BUSINESS_PROJECT_KINDERGARTEN": "khYhO",
                  "BUSINESS_PROJECT_MUSIC": "iIosOmuChMbxOLV",
                  "BUSINESS_PROJECT_SCHOOL": "jnuQGJwFNlvl",
                  "BUSINESS_PROJECT_STEP2SMART": "xLZrlzWsZWcfc",
                  "BUSINESS_PROJECT_STEP2SPEAK": "JysxOzBU",
                  "BUSINESS_PROJECT_STEP2TRAVEL": "BEFIA",
                  "BUZULUK": "tqxhLEXUCl",
                  "BUZULUK_KOLLEDZH": "fCHPKIAvB",
                  "by_date": "jHhZKPvqukbV",
                  "by_subjects": "OOYQOSLISScRP",
                  "Calendar": "EmjWiRPdUZ",
                  "cancel": "MThfQcZFQ",
                  "Canceled successfully": "dCauxpKnPb",
                  "cancel_food_order": "ABqwuJYYo",
                  "can_not_retake_quiz_lack_of_funds": "oZfjjkJp",
                  "CAPE_TOWN": "FDFtkCML",
                  "cart": "dCSXnuZMXXdI",
                  "cart_empty": "rsLvMyWTQOY",
                  "Categories": "MvqjJYdoEpUh",
                  "certifications": "rNyxJlkLboUBEa",
                  "changed": "GXEXwdra",
                  "changes_were_declined": "tuzKhH",
                  "change_lang": "RNzPlEidqBJ",
                  "change_pass": "MQRyKZKcIw",
                  "CHANGE_PASSWORD_WARNING": "FSsrhEiJYyVebPe",
                  "change_personal_data_personal_data_changing_error": "JouMeKxHIArJv",
                  "change_personal_data_request_already_sent_error": "PtymNWCK",
                  "change_student": "gYJucAnQQV",
                  "change_stud_setting": "tGgbbXjdw",
                  "CHEBOKSARY": "LroxEsPYYdTu",
                  "CHEBOKSARY_KOLLEDZH": "MTWGuAxTkj",
                  "CHEBOKSARY_VUZ": "jlkTHr",
                  "checkbox_for_the_resource": "VecGKvm",
                  "CHEKHOV": "OFSkraUToCjv",
                  "CHEKHOV_KOLLEDZH": "nQRyOZqzCqU",
                  "CHELYABINSK": "OTZYLsiJnj",
                  "CHELYABINSK_COLLEGE": "ftJUeEAs",
                  "CHELYABINSK_OKRUZHNOY": "vjIlqSMzwNdXB",
                  "CHELYABINSK_SHKOLA": "ucrAXATBiDwsH",
                  "CHELYABINSK_VUZ": "DDUsdrn",
                  "CHEREPOVETS": "xVedTxOC",
                  "CHEREPOVETS_COLLEGE": "LXzmpGD",
                  "CHEREPOVETS_SHKOLA": "VfEngVWL",
                  "CHERKASY": "NMCQlZ",
                  "CHERKESSK": "bvSPFiceiwRqN",
                  "CHERKESSK_KOLLEDZH": "Mrwfxlz",
                  "CHERKESSK_SHKOLA": "urjgfouII",
                  "CHERNIGOV": "VigSpsXTTBcTa",
                  "CHERNOVTSY": "XqqSbsWZvWJnM",
                  "CHITA": "axStgSZ",
                  "CHITA_KOLLEDZH": "BhhaEQhNk",
                  "CHITA_VUZ": "gmOUzJKRwosEQ",
                  "choose": "ovsjY",
                  "Choose a date": "LZINJkFkTMZann",
                  "CHOOSE_SOCIAL": "rMlxXlBVu",
                  "choose_study_form": "HmhUBqkYlIBin",
                  "choose_subject": "QxmXA",
                  "CITIZENSHIP_AFGHANISTAN": "GslvfMy",
                  "CITIZENSHIP_ALBANIA": "WHTjksXsbP",
                  "CITIZENSHIP_ALGERIA": "GyuYXQwe",
                  "CITIZENSHIP_ANDORRA": "GvATe",
                  "CITIZENSHIP_ANGOLA": "VRilceiXTKv",
                  "CITIZENSHIP_ANTIGUA_AND_BARBUDA": "UVazhfDsWZzhU",
                  "CITIZENSHIP_ARGENTINA": "hyCFe",
                  "CITIZENSHIP_ARMENIA": "AcaGnoVTpzb",
                  "CITIZENSHIP_AUSTRALIA": "GCVtpoGeNoKh",
                  "CITIZENSHIP_AUSTRIA": "iLrhXFt",
                  "CITIZENSHIP_AZERBAIJAN": "WZqkLMtjh",
                  "CITIZENSHIP_BAHAMAS": "vsmiWrcUKq",
                  "CITIZENSHIP_BAHRAIN": "MTXrJ",
                  "CITIZENSHIP_BANGLADESH": "Sfyjc",
                  "CITIZENSHIP_BARBADOS": "fLoCvZVEPz",
                  "CITIZENSHIP_BELARUS": "KmbXtlbDtjptHTW",
                  "CITIZENSHIP_BELGIUM": "KAKxJnRhBgv",
                  "CITIZENSHIP_BELIZE": "ynfyASqrktvf",
                  "CITIZENSHIP_BENIN": "peUvrF",
                  "CITIZENSHIP_BHUTAN": "IIRGuzBQJZT",
                  "CITIZENSHIP_BOLIVIA": "rflVwRHE",
                  "CITIZENSHIP_BOSNIA_AND_HERZEGOVINA": "KRibOZMvCH",
                  "CITIZENSHIP_BOTSWANA": "MPaVITaJCNk",
                  "CITIZENSHIP_BRAZIL": "szlygfeQ",
                  "CITIZENSHIP_BRUNEI": "WQmrm",
                  "CITIZENSHIP_BULGARIA": "JRrwciVrDyEnppO",
                  "CITIZENSHIP_BURKINA_FASO": "GACguaGF",
                  "CITIZENSHIP_BURUNDI": "ZRzle",
                  "CITIZENSHIP_CABO_VERDE": "UqWPT",
                  "CITIZENSHIP_CAMBODIA": "CWefMT",
                  "CITIZENSHIP_CAMEROON": "VvAbuMPZz",
                  "CITIZENSHIP_CANADA": "rkBrLn",
                  "CITIZENSHIP_CENTRAL_AFRICAN_REPUBLIC": "XsVMup",
                  "CITIZENSHIP_CHAD": "NpmkfMmZ",
                  "CITIZENSHIP_CHILE": "EwYaNSuVv",
                  "CITIZENSHIP_CHINA": "UJRIYhqOd",
                  "CITIZENSHIP_COLOMBIA": "UshvNJXsNiurdcb",
                  "CITIZENSHIP_COMOROS": "rAvJYUsfbLpMd",
                  "CITIZENSHIP_CONGO": "XkEYiMAEKpMkv",
                  "CITIZENSHIP_CONGO_DEMOCRATIC": "qsaZUJVp",
                  "CITIZENSHIP_COSTA_RICA": "HagjMynG",
                  "CITIZENSHIP_COTE_D_IVOIRE": "AmrbFAvbqf",
                  "CITIZENSHIP_CROATIA": "wJEXfzOUVwRLmis",
                  "CITIZENSHIP_CUBA": "nnkenbE",
                  "CITIZENSHIP_CYPRUS": "PjvbnEMtk",
                  "CITIZENSHIP_CZECH_REPUBLIC": "JzFAfo",
                  "CITIZENSHIP_DENMARK": "iJTKCVysV",
                  "CITIZENSHIP_DJIBOUTI": "KkWpLfQmiNr",
                  "CITIZENSHIP_DOMINICA": "hlJTz",
                  "CITIZENSHIP_DOMINICAN_REPUBLIC": "CSbDZleO",
                  "CITIZENSHIP_ECUADOR": "bAYUGObMTaFrGD",
                  "CITIZENSHIP_EGYPT": "NeLVNBqQIxhA",
                  "CITIZENSHIP_EL_SALVADOR": "FYgxM",
                  "CITIZENSHIP_EQUATORIAL_GUINEA": "CUGBmYAcNbHFxNM",
                  "CITIZENSHIP_ERITREA": "FpEEKHlE",
                  "CITIZENSHIP_ESTONIA": "BfWtplZXCH",
                  "CITIZENSHIP_ESWATINI": "izFDJj",
                  "CITIZENSHIP_ETHIOPIA": "Cyeut",
                  "CITIZENSHIP_FIJI": "COSjqhTZRk",
                  "CITIZENSHIP_FINLAND": "EHgZCz",
                  "CITIZENSHIP_FRANCE": "UsgHRxrHEravr",
                  "CITIZENSHIP_GABON": "ovNLcuxxoC",
                  "CITIZENSHIP_GAMBIA": "jCEeDzQpCthAOkO",
                  "CITIZENSHIP_GEORGIA": "nUnlTTy",
                  "CITIZENSHIP_GERMANY": "XjBUpOTzSCfqq",
                  "CITIZENSHIP_GHANA": "vvsqaPazc",
                  "CITIZENSHIP_GREECE": "yAwPLvLDFfnEU",
                  "CITIZENSHIP_GRENADA": "HflXMlxZh",
                  "CITIZENSHIP_GUATEMALA": "hgjMaGNSmWlyqO",
                  "CITIZENSHIP_GUINEA": "ukAFiwbxYitgND",
                  "CITIZENSHIP_GUINEA_BISSAU": "YlXcqZotnZ",
                  "CITIZENSHIP_GUYANA": "lTHuOirQIc",
                  "CITIZENSHIP_HAITI": "AflkKBtBgRp",
                  "CITIZENSHIP_HONDURAS": "OcNwgHHDkgW",
                  "CITIZENSHIP_HUNGARY": "TQZhcpZwRGDVegd",
                  "CITIZENSHIP_ICELAND": "PQMIBegWrw",
                  "CITIZENSHIP_INDIA": "LUKyQUKFkLJJ",
                  "CITIZENSHIP_INDONESIA": "rEgsaKCPr",
                  "CITIZENSHIP_IRAN": "postUQFLQ",
                  "CITIZENSHIP_IRAQ": "jDwsPUftxsut",
                  "CITIZENSHIP_IRELAND": "pSzoOgJwdG",
                  "CITIZENSHIP_ISRAEL": "lmhsJeRGxIf",
                  "CITIZENSHIP_ITALY": "JmyLnAsKhNlQHAY",
                  "CITIZENSHIP_JAMAICA": "bfJMzjSkqTa",
                  "CITIZENSHIP_JAPAN": "MnXdOBgfySxa",
                  "CITIZENSHIP_JORDAN": "twFZsnpzZl",
                  "CITIZENSHIP_KAZAKHSTAN": "ByWDDTGhj",
                  "CITIZENSHIP_KENYA": "fVOUhS",
                  "CITIZENSHIP_KIRIBATI": "TlNsGZtGt",
                  "CITIZENSHIP_KUWAIT": "tVSMEsyTZWsq",
                  "CITIZENSHIP_KYRGYZSTAN": "iTKeMwZx",
                  "CITIZENSHIP_LAOS": "WFPVW",
                  "CITIZENSHIP_LATVIA": "hUiVrM",
                  "CITIZENSHIP_LEBANON": "CDrWzGTSvnuY",
                  "CITIZENSHIP_LESOTHO": "IaXiVPxUf",
                  "CITIZENSHIP_LIBERIA": "vFwWQEU",
                  "CITIZENSHIP_LIBYA": "dSfzNHpzQ",
                  "CITIZENSHIP_LIECHTENSTEIN": "AsXXRbe",
                  "CITIZENSHIP_LITHUANIA": "NxSSeplsx",
                  "CITIZENSHIP_LUXEMBOURG": "bnHiCQnaHsCL",
                  "CITIZENSHIP_MADAGASCAR": "XAbtlCCAMMKB",
                  "CITIZENSHIP_MALAWI": "PNBkVXtZbehfKRu",
                  "CITIZENSHIP_MALAYSIA": "kAPWdVkYyyfplGE",
                  "CITIZENSHIP_MALDIVES": "asWZwWOTDFkhKfD",
                  "CITIZENSHIP_MALI": "RYRkhPUIOhKrLA",
                  "CITIZENSHIP_MALTA": "VyWCBTv",
                  "CITIZENSHIP_MARSHALL_ISLANDS": "zQoRG",
                  "CITIZENSHIP_MAURITANIA": "HBqfECz",
                  "CITIZENSHIP_MAURITIUS": "uiYaAb",
                  "CITIZENSHIP_MEXICO": "LIGhe",
                  "CITIZENSHIP_MICRONESIA": "mftJLmACfLatz",
                  "CITIZENSHIP_MOLDOVA": "GurPLqZGtQEDTUQ",
                  "CITIZENSHIP_MONACO": "PrywZwWiHsyf",
                  "CITIZENSHIP_MONGOLIA": "IUsEaqJY",
                  "CITIZENSHIP_MONTENEGRO": "SxkYKZZZeB",
                  "CITIZENSHIP_MOROCCO": "MTxtnTGHrXYEO",
                  "CITIZENSHIP_MOZAMBIQUE": "hBfRgsYDlSc",
                  "CITIZENSHIP_MYANMAR": "xWtiCjafdAjn",
                  "CITIZENSHIP_NAMIBIA": "kNqAv",
                  "CITIZENSHIP_NAURU": "cyUoM",
                  "CITIZENSHIP_NEPAL": "GSmCKGb",
                  "CITIZENSHIP_NETHERLANDS": "ANBoBKmBGNX",
                  "CITIZENSHIP_NEW_ZEALAND": "LdtEuKmrqfaml",
                  "CITIZENSHIP_NICARAGUA": "ktgopXagJ",
                  "CITIZENSHIP_NIGER": "WZzuto",
                  "CITIZENSHIP_NIGERIA": "BNFKn",
                  "CITIZENSHIP_NORTH_KOREA": "KYieGl",
                  "CITIZENSHIP_NORTH_MACEDONIA": "dLvCLXF",
                  "CITIZENSHIP_NORWAY": "KuUvXUWPnFln",
                  "CITIZENSHIP_OMAN": "bhzduuig",
                  "CITIZENSHIP_PAKISTAN": "LpHaujzoqjGJy",
                  "CITIZENSHIP_PALAU": "cZveHBVRWH",
                  "CITIZENSHIP_PALESTINE": "TiYXzQtwAxwzAR",
                  "CITIZENSHIP_PANAMA": "SqBIv",
                  "CITIZENSHIP_PAPUA_NEW_GUINEA": "PxexEKVTK",
                  "CITIZENSHIP_PARAGUAY": "BCRcAvM",
                  "CITIZENSHIP_PERU": "MSbaDCyYQegozW",
                  "CITIZENSHIP_PHILIPPINES": "gyrZfQhtV",
                  "CITIZENSHIP_POLAND": "ipzlhmLqCwnBO",
                  "CITIZENSHIP_PORTUGAL": "yWYxskoop",
                  "CITIZENSHIP_QATAR": "jYFLBQNwHNKs",
                  "CITIZENSHIP_ROMANIA": "DtpvktDVpE",
                  "CITIZENSHIP_RUSSIA": "bgNfTNEbRt",
                  "CITIZENSHIP_RWANDA": "zZdNixRzW",
                  "CITIZENSHIP_SAINT_KITTS_AND_NEVIS": "fEjtMyYGFoWfNlL",
                  "CITIZENSHIP_SAINT_LUCIA": "jTMuPfoRT",
                  "CITIZENSHIP_SAINT_VINCENT_AND_THE_GRENADINES": "ppIPnN",
                  "CITIZENSHIP_SAMOA": "MUPtQtKMLhtV",
                  "CITIZENSHIP_SAN_MARINO": "yboumIYyJ",
                  "CITIZENSHIP_SAO_TOME_AND_PRINCIPE": "TsqQHDfN",
                  "CITIZENSHIP_SAUDI_ARABIA": "qvgWRksk",
                  "CITIZENSHIP_SENEGAL": "iTAaXTElWIlGt",
                  "CITIZENSHIP_SERBIA": "gvYFUAANeWJnA",
                  "CITIZENSHIP_SEYCHELLES": "MtEggWOIVAO",
                  "CITIZENSHIP_SIERRA_LEONE": "fWUPEI",
                  "CITIZENSHIP_SINGAPORE": "hnagwMG",
                  "CITIZENSHIP_SLOVAKIA": "lTiJUpVdkZpkSTp",
                  "CITIZENSHIP_SLOVENIA": "RsGhezmHuMN",
                  "CITIZENSHIP_SOLOMON_ISLANDS": "YaRbjqmizdmvIY",
                  "CITIZENSHIP_SOMALIA": "YMGJR",
                  "CITIZENSHIP_SOUTH_AFRICA": "GhuhIfjULfPh",
                  "CITIZENSHIP_SOUTH_KOREA": "IrEHgsMEimj",
                  "CITIZENSHIP_SOUTH_SUDAN": "mrcxhhililG",
                  "CITIZENSHIP_SPAIN": "tRfeTsWZv",
                  "CITIZENSHIP_SRI_LANKA": "mWfPfiSN",
                  "CITIZENSHIP_SUDAN": "JKPhoXiCw",
                  "CITIZENSHIP_SURINAME": "TJLGqn",
                  "CITIZENSHIP_SWEDEN": "dhffWAJgMGbZDAp",
                  "CITIZENSHIP_SWITZERLAND": "QlMfOAkUtCyvk",
                  "CITIZENSHIP_SYRIA": "vzQqVS",
                  "CITIZENSHIP_TAJIKISTAN": "ZEROLXVZd",
                  "CITIZENSHIP_TANZANIA": "ltKxqqOiUOBaskf",
                  "CITIZENSHIP_THAILAND": "jhsyFWMd",
                  "CITIZENSHIP_TIMOR_LESTE": "knjZiE",
                  "CITIZENSHIP_TOGO": "TRybEBRwxKmzqKw",
[...]
